@mixin font-face($family, $filename, $weight) {
  @font-face {
    font-weight: $weight;
    font-style: normal;
    font-family: $family;
    src: url("../fonts/" + $filename + ".woff2") format("woff2"),
      url("../fonts/" + $filename + ".woff") format("woff");
    font-display: swap;
  }
}