@mixin list-dash(
  $margin-left: 0,
  $offset: 24px,
  $color: map-get($colors, primary),
  $width: 16px,
  $height: 2px,
) {
  li {
    position: relative;
    padding-left: 24px;

    &::before {
      content: "";
      position: absolute;
      top: 0.7em;
      left: 0;
      width: 16px;
      height: 2px;
      background-color: $color;
    }
  }
}

@mixin list-dot(
  $offset: 24px,
  $color: map-get($colors, primary),
  $width: 16px,
  $height: 2px,
) {
  
}

@mixin list-num(
  $color: inherit,
  $font-size: inherit,
  $size: unset,
  $font-weight: inherit,
  $bg: unset,
  $radius: 0,
  $left: 0,
  $top: 0,
  $line-height: inherit,
  $offset: 24px,
) {
  counter-reset: item;

  li {
    counter-increment: item;

    &::before {
      content: counters(item, ".") ".";
      top: $top;
      
      display: inline-block;
      width: $size;
      min-width: $offset;
      height: $size;
      padding-right: 8px;
      color: $color;
      font-size: $font-size;
      font-weight: $font-weight;
      line-height: $line-height;
      text-align: left;
      background-color: $bg;
      border-radius: $radius;
    }

    & > ol,
    & > ul {
      padding-left: $offset;
    }
  }

  /* важно: вложенные списки должны начинать свой уровень */
  li ul,
  li ol {
    counter-reset: item;
  }
}