// @include font-face("Roboto", "Roboto-400", 400);

@font-face {
  font-family: "Inter";
  font-weight: 300 400 500 600 700 800;
  font-style: normal;
  src: url("@/assets/fonts/inter-variable.woff2") format("woff2");
  font-display: swap;
}