.breadcrumbs {
  --divider: "/";
  --text-color: #333;
  --link-color: #007bff;
  --active-color: #000;
  --gap: 8px;

  user-select: none;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
  }

  &__item {
    display: flex;
    align-items: center;
    gap: var(--gap);
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;

    &:not(:last-child)::after {
      content: var(--divider);
      color: var(--text-color);
    }
  }

  &__link {
    color: var(--link-color);
    text-decoration: none;

    @include hover {
      opacity: 0.7;
    }
  }

  &__text {
    color: var(--active-color);
  }
}