.container {
  width: 100%;
  max-width: calc(var(--container-width) + var(--container-padding) * 2);
  margin: 0 auto;
  padding-right: var(--container-padding);
  padding-left: var(--container-padding);

  &--sm {
    --container-width: 1064px;
  }
}