.page {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
  }

  &__main {
    position: relative;
    z-index: 2;
    flex-grow: 1;
    // padding-bottom: var(--section-indent);

    &:has(.page-section.pb-0:last-child) {
      padding-bottom: 0;
    }
  }
}