$_breakpoints: (
  // 'xs': $xs,
  'sm': $sm,
  'md': $md,
  'lg': $lg,
  'xl': $xl
);

$paddings: (
  'p': padding,
  'px': (padding-left, padding-right),
  'py': (padding-top, padding-bottom),
  'pb': padding-bottom,
  'pt': padding-top,
  'pr': padding-right,
  'pl': padding-left,
);

@each $padding, $properties in $paddings {
  @for $i from 0 through 16 {
    @if type-of($properties) == list {
      .#{$padding}-#{$i} {
        @each $property in $properties {
          #{$property}: #{$i}rem;
        }
      }
    } @else {
      .#{$padding}-#{$i} {
        #{$properties}: #{$i}rem;
      }
    }

    @each $breakpoint, $value in $_breakpoints {
      @media (max-width: #{$value}) {
        @if type-of($properties) == list {
          .#{$padding}-#{$breakpoint}-#{$i} {
            @each $property in $properties {
              #{$property}: #{$i}rem;
            }
          }
        } @else {
          .#{$padding}-#{$breakpoint}-#{$i} {
            #{$properties}: #{$i}rem;
          }
        }
      }
    }
  }
}

.pt-indent {
  padding-top: var(--section-indent);
}

.pb-indent {
  padding-bottom: var(--section-indent);
}

.py-indent {
  padding-top: var(--section-indent);
  padding-bottom: var(--section-indent);
}

.pt-indent-half {
  padding-top: calc(var(--section-indent) / 2);
}

.pb-indent-half {
  padding-bottom: calc(var(--section-indent) / 2);
}

.py-indent-half {
  padding-top: calc(var(--section-indent) / 2);
  padding-bottom: calc(var(--section-indent) / 2);
}
