include @/widgets/_index
include @/features/_index
include @/shared/ui/_index

block vars

doctype html
html(lang="ru")
  head
    //- Заголовок страницы
    title Карта вёрстки

    //- Мета-данные
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    block meta

    //- Стили
    //- link(rel="stylesheet", href="assets/css/main.min.css")
    //- link(rel="stylesheet", href="assets/_map/index.css")
    block styles

    //- Фавиконки
    //- link(rel='icon' type='image/png' href='favicon-96x96.png' sizes='96x96')
    //- link(rel='icon' type='image/svg+xml' href='favicon.svg')
    //- link(rel='shortcut icon' href='favicon.ico')
    //- link(rel='apple-touch-icon' sizes='180x180' href='apple-touch-icon.png')
    //- link(rel='manifest' href='site.webmanifest')
    
  body
    .ui-kit.js-ui-kit
      .ui-kit__aside
        .ui-kit__aside-inner
        button.ui-kit__aside-button
          span 
          span 
          span 
      .ui-kit__main
        .ui-kit__header
          .container
            .ui-kit__title
        block map
    
      .ui-kit__overlay

    //- Модалки
    
    block modals

    //- Скрипты 
    script(src="assets/js/vendor.min.js")
    script(src="assets/js/main.min.js")
    script(src="assets/_map/index.js") 