@mixin remove-scrollbar {
  @media (hover: none), (pointer: coarse) {
    overflow: auto;
    border: 0;
    -ms-overflow-style: none;  /* Для Internet Explorer 10+ */
    scrollbar-color: transparent;
    scrollbar-width: none;  /* Для Firefox */

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      background: transparent;  /* Для Chrome, Safari и Opera */
    }
  }
}


@mixin total-remove-scrollbar {
  overflow: auto;
  border: 0;
  -ms-overflow-style: none;  /* Для Internet Explorer 10+ */
  scrollbar-color: transparent;
  scrollbar-width: none;  /* Для Firefox */

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;  /* Для Chrome, Safari и Opera */
  }
}