// CSS-переменные
:root {
  // * модульная сетка
  --step: 8px; // Единица модульной сетки
  --indent-width: 24px; // Расстояние между колонками
  --column-count: 12; // Количество колонок
  --column-width: calc(
    (var(--container-width) - (var(--column-count) - 1) * var(--indent-width)) / var(--column-count)
  ); // Ширина колонки

  // * контейнер
  --container-width: 1280px; // Макс. ширина контейнера
  --min-width: 320px; // Мин. ширина страницы
  --container-padding: #{fluid(16, 80)}; // Отступы контейнера

  // * секции
  --section-indent: #{fluid(56, 128)}; // Межсекционное расстояние
  --section-padding-first: #{fluid(24, 40)}; // Отступ первой секции
  --section-padding-last: #{fluid(56, 128)}; // Отступ последней секции

  // * типографика
  --font-family: "Inter", helvetica, sans-serif;
  --font-weight: 400;
  --font-size: #{fluid(16, 18)};
  --line-height: 150%;
  --paragraph-spacing: 16px;
  --heading-weight: 700;
  --heading-line-height: 135%;
  --h1-margin: #{fluid(32, 64)} 0 #{fluid(24, 40)};
  --h1-size: #{fluid(24, 40)};
  --h2-margin: #{fluid(24, 40)} 0 #{fluid(15, 32)};
  --h2-size: #{fluid(20, 32)};
  --h3-margin: #{fluid(24, 40)} 0 #{fluid(16, 24)};
  --h3-size: #{fluid(18, 24)};
  --list-spacing: 0px;
  --list-margin: 0px;

  // * цвет и декорации
  --color: #{map-get($colors, black)};
  --bg-color: #{map-get($colors, white)}; // Фон. цвет страницы
  --bg-overlay: #{rgba(#000, 40%)};
  --blur-overlay: blur(15px);

  // * анимации и переходы
  --bezier: cubic-bezier(0, 0, 0.4, 1); // станд. функция перехода

  @media (max-width: $sm) {
    // * модульная сетка
    --column-count: 4;
    --indent-width: 16px;

    // * типографика
    --line-height: 145%;
  }
}
