// Палитра
$colors: (
  white: #ffffff,
  black: #000000,
  primary: #2B0577,
  silver: #F3F1EE,
  gray: #817E7E,
  dark: #484953,
  stroke: #D7D2CB,
  success: #5C961B,
  error: #B81417,
);

// Контрольные точки
$xxs: 359px;
$xs: 400px;
$sm: 576px; // mobile
$md: 768px; 
$lg: 992px; // tablet
$xl: 1200px; // desktop
$xxl: 1400px;