extends @/app/templates/_default

block vars 
  - var title = "Главная страница"

block body
  +page-section
    h1 Пример секции

  +page-section 
    h2 Вторая секция

  +page-section({
    className: "bg-black",
    fill: true
  }) 
    h2 Вторая секция