mixin btn(data={})
  - var ripple = true

  +btn-element({
    ...data,
    baseClass: "btn",
    attributes: {
      ...(ripple ? {"data-ripple-effect": ""} : {}),
      ...(data.to && {"data-to": data.to}),
      ...data.attributes
    }
  })
    if (data.text)
      span!=data.text
    else
      block
