.page-section {
  padding: var(--section-indent) 0;

  // Стык "белый-белый" (включая без класса): режем до 0.5 с обеих сторон
  & + & {
    padding-top: calc(var(--section-indent) / 2);
  }

  &:has(+ .page-section) {
    padding-bottom: calc(var(--section-indent) / 2);
  }

  // Стык белая + цвет
  &:not(.page-section--fill):has(+ .page-section--fill) {
    padding-bottom: var(--section-indent);
  }

  &:not(.page-section--fill) + .page-section--fill {
    padding-top: var(--section-indent);
  }

  // Стык цвет + белая
  &--fill + &:not(.page-section--fill) {
    padding-top: var(--section-indent);
  }

  &--fill:has(+ .page-section:not(.page-section--fill)) {
    padding-bottom: var(--section-indent);
  }

  // Стык цвет + цвет
  &--fill + &--fill {
    padding-top: calc(var(--section-indent) / 2);
  }

  &--fill:has(+ .page-section--fill) {
    padding-bottom: calc(var(--section-indent) / 2);
  }

  &:first-child {
    padding-top: var(--section-padding-first);
  }

  &:last-child {
    padding-bottom: var(--section-padding-last);
  }
}