.page-section {
  padding: var(--section-indent) 0;

  // Стык "белый-белый" (включая без класса): режем до 0.5 с обеих сторон
  & + & {
    padding-top: calc(var(--section-indent) / 2);
  }

  &:has(+ .page-section) {
    padding-bottom: calc(var(--section-indent) / 2);
  }

  // Стык "серый-серый": режем до 0.5 с обеих сторон
  &--fill + &--fill {
    padding-top: calc(var(--section-indent) / 2);
  }

  &--fill:has(+ .page-section--fill) {
    padding-bottom: calc(var(--section-indent) / 2);
  }
}