@mixin wide-container {
  width: calc(100% + var(--container-padding) * 2);
  margin-left: calc(var(--container-padding) * -1);
  margin-right: calc(var(--container-padding) * -1);
}

@mixin wide-container-paddings {
  width: calc(100% + var(--container-padding) * 2);
  margin-left: calc(var(--container-padding) * -1);
  margin-right: calc(var(--container-padding) * -1);
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}