mixin map-content(data={})
  .content(class=data.className)
    h1 Заголовок H1 — основной

    p
      | Это обычный абзац текста с <strong>жирным выделением</strong>, а также <em>курсивом</em> и <a href="#">ссылкой</a> внутри строки.

    h2 Заголовок H2 — секция

    p Следует отметить, что курс на социально-ориентированный национальный проект играет важную роль в формировании системы массового участия.

    h3 Заголовок H3 — подраздел

    p Ещё один абзац с более плотным текстом, чтобы проверить переносы строк, интерлиньяж и читаемость блока на длинных строках без визуальных якорей.

    ul
      li Первый пункт
      li Второй пункт
        ul
          li Вложенный пункт
          li Вложенный пункт
            ul
              li Глубокая вложенность
      li Третий пункт

    ol
      li Первый пункт
      li Второй пункт
        ol
          li Подпункт
          li Подпункт
      li Третий пункт

    hr

    .table-wrapper
      table
        thead
          tr
            th Заголовок 1
            th Заголовок 2
            th Заголовок 3
            th Заголовок 4
            th Заголовок 5
        tbody
          tr
            td Данные
            td Данные
            td Данные
            td Данные
            td Данные
          tr
            td Данные
            td Данные
            td Данные
            td Данные
            td Данные
        tfoot
          tr
            td(colspan="5") Итоговая строка

    blockquote
      p
        strong Цитата
      p Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу специалистов направлений прогрессивного развития.

    p Вставка <code>inline-кода</code> прямо в текст.

    pre
      code.
        function test() {
          console.log("Hello world");
        }

    p
      | Список ссылок:
      ul
        li: a(href="#") Первая ссылка
        li: a(href="#") Вторая ссылка
        li: a(href="#") Третья ссылка
