mixin map-buttons(data={})
  h2 Без стилей
  .flex-wrap.gap-2
    +btn-element({
      href: "#"
    })
      | Простая ссылка
    +btn-element
      | Простая кнопка

  h2 btn
  .flex-wrap.gap-2
    +btn({
      text: "Кнопка",
    })
    +btn({
      text: "Кнопка-ссылка",
      href: "#"
    })
    +btn({
      text: "div с классом btn",
      type: "div"
    })
    +btn({
      text: "disabled",
      disabled: true,
    })
  h3 btn--size--*
  .flex-wrap.gap-2.items-center
    +btn({
      size: "sm",
      text: "sm",
    })
    +btn({
      size: "lg",
      text: "lg",
    })

  h2 btn-menu
  .flex-wrap.gap-2.items-center
    +btn-menu
