mixin map-content(data={})
  .content(class=data.className)
    h1 Заголовок h1
    h2 Заголовок h2 
    h3 Заголовок h3
    p Следует отметить, что курс на социально-ориентированный национальный проект играет важную роль в формировании системы массового участия. Идейные соображения высшего порядка, а также консультация с широким активом обеспечивает широкому кругу специалистов экономической целесообразности принимаемых изменений. Задача организации, в особенности же начало повседневной работы по формированию позиции в значительной степени обуславливает создание новых предложений.
    p Следует отметить, что курс на социально-ориентированный национальный проект играет важную роль в формировании системы массового участия. Идейные соображения высшего порядка, а также консультация с широким активом обеспечивает широкому кругу специалистов экономической целесообразности принимаемых изменений. Задача организации, в особенности же начало повседневной работы по формированию позиции в значительной степени обуславливает создание новых предложений.
    ul 
      li Первый пункт
      li Второй пункт
        ul 
          li Подпункт
          li Подпункт
      li Третий пункт
    ol 
      li Первый пункт
      li Второй пункт
        ol 
          li Подпункт
          li Подпункт
      li Третий пункт
    .table-wrapper
      table 
        thead
          th Название
          th Название 
          th Название 
          th Название 
          th Название 
        tbody 
          tr 
            td Ячейка
            td Ячейка
            td Ячейка
            td Ячейка
            td Ячейка
          tr 
            td Ячейка
            td Ячейка
            td Ячейка
            td Ячейка
            td Ячейка
          tr 
            td Ячейка
            td Ячейка
            td Ячейка
            td Ячейка
            td Ячейка
        tfoot
          tr 
            td Подвал
            td Подвал
            td Подвал
            td Подвал
            td Подвал
        