.content {
  --paragraph-max-width: 900px;
  --list-max-width: 600px;
  // --font-size: 16px;
  // --line-height: 150%;
  --list-spacing: 8px;
  --list-margin: 16px 0;
  --table-margin: 24px 0;

  font-size: var(--font-size);
  line-height: var(--line-height);

  p {
    max-width: var(--paragraph-max-width);
  }
  
  ul,
  ol {
    max-width: var(--list-max-width);
  }

  ul {
    @include list-dash(
      
    );
  }

  ol {
    @include list-num(
      $color: map-get($colors, primary),
      $radius: 50%,
    );
  }

  table {
    margin: var(--table-margin);
  }
}