.content {
  // Типографика
  --paragraph-max-width: 900px;
  --list-max-width: 600px;
  // --font-size: 16px;
  // --line-height: 150%;
  // Списки
  --list-spacing: 8px;
  --list-margin: 16px 0;
  // Изображения
  --figure-margin: 24px 0;
  --figure-radius: 12px;
  --figcaption-margin: 12px 0 0 12px;
  --figcaption-font-size: #{fluid(16, 18)};
  --figcaption-line-height: 150%;
  --figcaption-color: #{map-get($colors, black)};
  // Таблицы
  --table-margin: 40px;

  font-size: var(--font-size);
  line-height: var(--line-height);

  p {
    @include trim-margins;

    max-width: var(--paragraph-max-width);
  }

  ul,
  ol {
    max-width: var(--list-max-width);

    ul,
    ol {
      margin-top: var(--list-spacing);
      margin-bottom: 0;
    }
  }

  ul {
    @include list-dash;
  }

  ol {
    @include list-num($color: map-get($colors, primary), $radius: 50%);
  }

  table {
    @include table;
    @include trim-margins;

    margin: var(--table-margin) 0;
  }

  .table-wrapper {
    @include wide-container-paddings;
    @include trim-margins;
    margin-top: var(--table-margin);

    overflow: auto;
  }

  figure {
    @include trim-margins;

    display: flex;
    flex-direction: column;
    gap: var(--figure-gap);
    align-items: flex-start;
    max-width: 100%;
    margin: fluid(24, 40);
    margin: var(--figure-margin) 0;

    img {
      border-radius: var(--figure-radius);
    }
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  blockquote {
    @include trim-margins;

    margin: 24px 0;
    padding-left: fluid(16, 24);
    border-left: 2px solid map-get($colors, primary);
  }

  figcaption {
    margin: var(--figcaption-margin);
    color: var(--figcaption-color);
    font-size: var(--figcaption-font-size);
    line-height: var(--figcaption-line-height);
  }

  audio,
  video,
  iframe {
    @include trim-margins;

    margin: fluid(16, 24) 0;
  }
}
